a {
  display: block;
  text-decoration: none;
  color: #337ab7;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  padding: 20px 70px;
  overflow: auto;
}

nav {
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav__link {
  display: flex;
  justify-content: center;
}
nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
.fade-enter-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-leave-to {
  opacity: 0;
}

aside {
  width: 380px;
  min-height: 1580px;
  float: right;
  background-color: #383838;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.animeUpdate {
  display: flex;
  text-align: center;
  align-items: center;
  border: 10px solid #282829;
  border-radius: 3px;
  position: relative;
  justify-content: center;
}
.animeUpdate > img {
  width: 350px;
  height: 500px;
}
.animeUpdate::after {
  content: '';
  position: absolute;
  width: 350px;
  height: 500px;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.animeUpdate:hover {
  border: 10px solid red;
}
.animeUpdate:hover::after {
  opacity: 1;
}
